.eventDetails {
  margin-left: 4rem;
  margin-top: 2rem;
  background-color: lightpink;
  border-radius: 5px;
  padding: 2rem;
  width: max-content;
}

.eventListContainer {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.eventright {
  margin-left: 4rem;
}

.checkemout {
  margin-left: 1rem;
}

.eventeditform {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.middlerow {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-top: 5%;
}

.left {
  margin-left: 8%;
}

.middle {
  margin-left: 8%;
}

.right {
  margin-left: 8%;
}

.editpic {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: #CDB0EE;
  border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  padding: 2rem;
}

img {
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
}

.detailsimg {
  display: flex;
  justify-content: center;
}

.backbutton {
  width: 4rem;
}

.editsave {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.eventlistblob {
  background-color: #82b9e8;
  border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  padding: 1rem;
  margin-top: 3%;
  margin-left: 5%;
}

.eventlistblob2 {
  background-color: #a4bfea;
  border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  padding: 1rem;
}

.artistlistitem {
  display: flex;
  flex-direction: row;
}

/* .eventCard {
    margin-top: 2rem;
    margin-left: 4rem;
    background-color: #f0cfeb;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 10px;
}

.eventCard:hover {
    background-color: #2a2a72;
} */


.eventCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 27rem;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #f0cfeb;
  /* z-index: 1; */
  border-radius: 75px;
  letter-spacing: 2px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 1s box-shadow;
}

.eventCard:hover {
  box-shadow: 0 0 15px #2a2a72;
}

.eventdetailscontainer {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 5%;
}

.viz {
  margin-left: 10%;
}

.searchBar {
  width: 17rem;
}

.categoryFilter {
  margin-left: 1rem;
}

.eventlistsearchrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.eventsbutton {
  margin-right: 0.5rem;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 75px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  margin-left: 1rem;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.clearfilters {
  margin-left: 1rem;
}


.button-9 {
  background-color: lightgrey;
  border-radius: 75px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  margin-left: 1rem;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-9:hover,
.button-9:focus {
  background-color: lightcoral;
  color: #2c5777;
}

.button-9:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-9:active {
  background-color: lightcoral;
  box-shadow: none;
  color: #2c5777;
}