.itinerarylist {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet;  */
    padding: 1rem;
    border-radius:66% 34% 33% 67% / 65% 73% 27% 35%;
    max-width: 40rem;
}

.itinerarylist2 {
    /* background-color: #a4bfea; */
    padding: 1rem;
    border-radius:66% 34% 33% 67% / 65% 73% 27% 35%;
}

.ititem {
    background-color: aquamarine;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}

