.leaflet-container {
    width: 30vw;
    height: 60vh;
    /* margin-left: 20%;*/
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
}

 .leaflet-tile {
    filter: hue-rotate(250deg) !important;
}

.mapblob {
    background-color: #82b9e8;
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
    padding: 1rem;
}

.mapblob2 {
    background-color: #a4bfea;
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
    padding: 1rem;
}


/* .activemarker {
    filter: hue-rotate(180deg);
  } */

