.leaflet-container {
    width: 30vw;
    height: 60vh;
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
}

 .leaflet-tile {
    filter: hue-rotate(250deg) !important;
}

.mapblob {
    background-color: #82b9e8;
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
    padding: 1rem;
}

.mapblob2 {
    background-color: #a4bfea;
    border-radius:39% 61% 70% 30% / 61% 29% 71% 39%;
    padding: 1rem;
}


.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* background: rgba(0, 0, 0, 0.834); */
    background: transparent;
    opacity: .5;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
    margin-left: -90rem;
    margin-top: -30rem;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

